:root{

    /* color */
    --primarycolor : 	#cd853f;
    --secondarycolor : 	#eeebe5; 

    /* font */
    --mainFont:'Open Sans', sans-serif;
    --headingFont:'Merriweather', serif;
}
*{
    box-sizing: border-box !important;
}
body{
    font-family: var(--mainFont);
}

.heading{
    font-family: var(--headingFont);
    font-size: 30px;
    font-weight: 700;
}

.subheading{
    font-weight: 300;
}

/* navbar */
.navbar-brand{
    font-family: var(--headingFont);
    font-weight: 900;
}
.navbar{
    background-color: var(--primarycolor) !important;
}
.navbar-brand span{
    color: var(--secondarycolor);
}
.nav-link{
    font-family: var(--headingFont);
}
.nav-link.active{
    font-weight: 700;
    color: var(--secondarycolor) !important;
}

.icons-home i{
    font-size: 1.0rem;
    color: var(--secondarycolor);
}

/*home */
.home{
    background-color: var(--primarycolor);  
    height: 650px;
    padding-top: 10rem;
}
.home .heading{
    color: var(--secondarycolor);
}

@media  screen and (min-width : 768) {
    .home{
        padding-top: 14rem;
    }
    .home .heading{
        font-size: 36px;
    }
}